$theme-colors: (
  "primary": #DAA520,
  "danger":  #FF2B0F,
  "blue":    #1A00FF,
  "success": #05E617,
  "black":   #000,
  "darkgray": #dfdede,
  "grayultra": #777,
  "gold":  #E1E628,
  "purple:" #EC08FC,
);


// gradients

.gold {
    color: linear-gradient(235deg, rgb(194, 173, 84) 0%, rgb(19, 18, 18) 100%);
    background-color: linear-gradient(235deg, rgb(194, 173, 84) 0%, rgb(19, 18, 18) 100%);
}