
.bg-gif {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 450px;
    z-index: -1;
    @include respond-to(tablet-land) {
        height: 350px;
    }
    @include respond-to(tablet) {
        height: 250px;

    }
    @include respond-to(phone) {
        height: 220px;

    }
    @include respond-to(small-phone) {
        height: 150px;

    }
}

.image-slider {
    height: 150px !important; 
    width: 150px !important; 
    margin: 0 auto;
}

.image-card {
  width: 120px !important;
}

// nav icons
.nav-icons {
  height: 40px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  @include respond-to(phone) {
      height: 30px;
  }
  @include respond-to(small-phone) {
      height: 25px;
  }
  &:hover {
    transform: scale(1.2);
  }
  &:active {
    transform: scale(.9);
  }
}

.nav-icon-plus {
  height: 50px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  transform: translate(-50%, -50px);
  left: 50%;
  position: absolute;
  align-items: center;
  background: white;
  padding: 8px;
  border-radius: 100px;
  display: flex;
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,.3);
  @include respond-to(phone) {
    height: 40px;
    transform: translate(-50%, -40px);
  }
  &:hover {
    height: 55px;
  }
  &:active {
    height: 50px;
  }
}

.is-selected {
  transform: scale(1.2);
}
