
.bg-gif {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 450px;
    z-index: -1;
    @include respond-to(tablet-land) {
        height: 350px;
    }
    @include respond-to(tablet) {
        height: 250px;

    }
    @include respond-to(phone) {
        height: 220px;

    }
    @include respond-to(small-phone) {
        height: 150px;

    }
}

.icon-category {
    height: 58px;
    width: 64px;
}