:root {
    --color-primary: #000000;
    --color-secondary: #DD0000;
    --color-additional: #C2AD54;
}

*,
*::before , 
*::after {
    padding: 0;
    margin: 0;
    outline: 0 !important;
    box-sizing: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0 !important;
}

html {
    box-sizing: border-box;
    font-size:  62.5%;
    @include respond-to(tablet-land) { //1200px
        font-size:  56.25%; // 1rem 9px 9/16 56%
    }
    @include  respond-to(tablet) { // 900px
        font-size:  50%; // 1rem 8 8/16 50%
    }
}

body {
    font-family: 'BYekan' !important;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #777;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #777;
}

::-ms-input-placeholder { /* Microsoft Edge */
color: #777;
}

